<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-items">
    <ul class="nav-item">
      <a class="nav-link">Projects</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link">About me</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link">Skills</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link">Contact</a>
    </ul>
  </div>
</div>
