<section id="home">
  <div class="top-container">
    <div class="detail-container">
      <div class="details">
        <h1 id="title">Stanley Perrin</h1>
        <%= image_tag 'profile.jpeg', class: 'profile-img' %>
        <div class="about-container">
          <h2 class="sub-heading">A little bit about me...</h2>
          <p class="about-me">My name is Stanley Perrin, a 23 year old<br> aspiring
          Fullstack Developer from London. <br> Welcome to my portfolio, which I
          have<br> coded in Ruby, HTML, CSS and JavaScript. I <br>am an avid football fan
          who supports the <br>Royals (Reading FC). Growing in West London,<br> I have
          also played youth football for Hanwell <br>Town FC. But my love for  technology
          is <br>unmatched and my favourite progamming <br>language has to be JavaScript
          and I am <br>currently learning React. I also enjoy <br>watching movies and TV
          Shows, with my <br>favourites being Breaking Bad and Goodfellas!</p>
        </div>
        <div class="social-links">
          <a href="https://github.com/sperrin98" class="fab fa-github btn btn-github"></a>
          <a href="https://www.instagram.com/stanmperrin/" class="fab fa-instagram btn btn-insta"></a>
          <a href="https://www.facebook.com/stan.perrin.9/" class="fab fa-facebook btn btn-facebook"></a>
          <a href="https://twitter.com/stanperrin1" class="fab fa-twitter btn btn-twitter"></a>
          <a href="https://www.linkedin.com/in/stanley-perrin-442a6120a/" class="fab fa-linkedin btn btn-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section id="projects">
    <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1 class="project-title">Projects</h1>
          <div class="flickswipe">
            <h2>Flickswipe</h2>
            <p>
              Flickswipe is a mobile app that enables users to quickly
              decide what to watch, using a swipe like process, similar to that
              of tinder. I used Ruby on Rails to develop this app, and created
              the user content controller which, presented the different TV
              shows and movies to the user, using an API. I also created other
              features such as a search bar to search for other users, a modal
              using javascript to get information on different content. I
              also helped on the Front-end side, using HTML and CSS to develop
              the design of the app.
              https://www.flickswipe.org
            </p>
          </div>
          <div class="boatee">
            <h2>Boatee</h2>
            <p>
              Boatee is an AirBnB clone, in which the user can book and rent out
              boats to other users. With Boatee, I helped create the bookings
              feature, being able to book, edit, and to cancel a booking. I
              also, implemented a rating feature, with a 5-star. like type
              process. This app was also created using rails.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="skills">
    <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>Skills</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, eaque voluptatibus. Eaque tempore quam nesciunt. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci
            blanditiis assumenda atque officiis? Vel, fuga facilis quia
            reprehenderit nihil optio harum. Quo sapiente veniam atque
            corporis tempora non repellat?
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
      <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>About</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, eaque voluptatibus. Eaque tempore quam nesciunt. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci
            blanditiis assumenda atque officiis? Vel, fuga facilis quia
            reprehenderit nihil optio harum. Quo sapiente veniam atque
            corporis tempora non repellat?
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
        <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>Contact</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, eaque voluptatibus. Eaque tempore quam nesciunt. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci
            blanditiis assumenda atque officiis? Vel, fuga facilis quia
            reprehenderit nihil optio harum. Quo sapiente veniam atque
            corporis tempora non repellat?
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
