<div class="top-container">
  <div class="detail-container">
    <div class="details">
      <h1 class="title">Stanley Perrin</h1>
      <%= image_tag 'profile.jpeg', class: 'profile-img' %>
      <h2 class="sub-heading">A little bit about me...</h2>
      <div class="social-links">
        <a href="https://github.com/sperrin98"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/stanmperrin/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/stan.perrin.9/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/stanperrin1"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/stanley-perrin-442a6120a/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
