.navbar {
  height: 70px;
  color: white;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
  text-align: right;
  color: black;
  text-decoration: none;
  padding: 20px;
}

.nav-items {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: right;
  flex-direction: row;
  position: absolute;
  right: 20px;
  top: 22px;
}
