// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alumni+Sans+Pinstripe&family=Cairo:wght@400;500&family=Comfortaa&family=Cormorant+SC:wght@300&family=Montserrat:wght@300&family=Poppins:wght@300&family=Press+Start+2P&family=Roboto+Mono&family=Silkscreen&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top-container {
  width: 100%;
  height: 91vh;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
}


h1 {
  font-family: 'Silkscreen', cursive;
  display: flex;
  text-align: center;
  border-bottom: 2px solid rgb(255, 255, 255);
}

h1#title {
  background-color: black;
  color: white;
}

.top-container h1 {
  font-size: 40px;
}

.social-links {
  text-align: center;
  position: absolute;
  top: 570px;
  left: 700px;
  border-top: 2px solid white;
  width: 440px;
  height: 35px;
  // padding: 3px;
  // display: table-row;
  // text-align-last: justify;
  background-color: black;
  display: -webkit-inline-box;
  -webkit-box-pack: justify;
}

.fab {
  color: rgb(255, 255, 255);
  padding-top: 8px;
  height: 40px;
  width: 40px;
  table-layout: fixed;
}

.profile-img {
  position: absolute;
  left: 300px;
  border-right: 2px solid rgb(255, 255, 255);
}

.detail-container {
  border: 2px solid rgb(255, 255, 255);
  width: 844px;
  height: 457px;
  box-shadow: 5px 5px 10px gray;
  margin-top: 80px;
}

.sub-heading {
  color: white;
  position: absolute;
  left: 705px;
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
}

.about-me {
  position: absolute;
  left: 705px;
  top: 235px;
  font-family: 'Roboto Mono', monospace;
}

// .btn-github {
//   width: 88px;
//   background-color: green;
//   height: 33px;
//   border-right: solid 2px;
//   border-left: solid 2px;
// }

.btn-insta {
  width: 88px;
  background-color: purple;
  height: 33px;
  border-right: solid 2px;
  text-decoration: none;
}

.btn-facebook {
  width: 88px;
  background-color: blue;
  height: 33px;
  border-right: solid 2px;
  text-decoration: none;
}

.btn-twitter {
  width: 88px;
  background-color: rgb(0, 170, 255);
  height: 33px;
  border-right: solid 2px;
  text-decoration: none;
}

.btn-linkedin {
  width: 88px;
  background-color: navy;
  height: 33px;
  text-decoration: none;
}

.btn-github {
  width: 88px;
  background-color: green;
  color: white;
  height: 33px;
  border-right: solid 2px;
  border-left: solid 2px;
  text-decoration: none;
}



// .gh {
//   width: 91px;
//   border-right: solid 2px white;
//   background-color: green;
//   height: 33px;
//   position: relative;
//   top: -3px;
//   left: -3px;
// }

// .insta {
//   width: 88px;
//   border-right: solid 2px white;
//   background-color: purple;
//   height: 33px;
//   position: relative;
//   top: -3px;
//   left: -3px;
// }


// .fb {
//   width: 88px;
//   border-right: solid 2px white;
//   background-color: blue;
//   height: 33px;
//   position: relative;
//   top: -3px;
//   left: -3px;
// }


// .twtr {
//   width: 88px;
//   border-right: solid 2px white;
//   background-color: rgb(0, 183, 255);
//   height: 33px;
//   position: relative;
//   top: -3px;
//   left: -3px;
// }

// .lin {
//   width: 85px;
//   background-color: navy;
//   height: 33px;
//   position: relative;
//   top: -3px;
//   left: -3px;
// }


// .fa-facebook {
//   color: blue;
// }

// .fa-instagram {
//   color: purple;
// }

// .fa-twitter {
//   color: rgb(0, 187, 255);
// }

// .fa-linkedin {
//   color: navy;
// }

.about-container {
  background-color: black;
  height: 400px;
  color: white;
}

.project-container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.skill-container {
  height: 100vh;
  background-color: rgb(216, 216, 216);
}

.aboutme-container {
  height: 100vh;
  background-color: red;
}

.contact-container {
  height: 100vh;
  background: blue;
}
